<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
<<<<<<< HEAD
        <span class="text-muted">&copy; CampExplorer 2023</span>
=======
        <span class="text-muted">&copy; YelpCamp 2020</span>
>>>>>>> 5074ef82788c70e0a5df2d5c4b8b7fc481ce8159
    </div>
</footer>