<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
<<<<<<< HEAD
        <a class="navbar-brand" href="#">CampExplorer</a>
=======
        <a class="navbar-brand" href="#">YelpCamp</a>
>>>>>>> 5074ef82788c70e0a5df2d5c4b8b7fc481ce8159
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">New Campground</a>
            </div>
            <div class="navbar-nav">
                <% if(!currentUser){%>
                <a class="nav-link" href="/login">login</a>
                <a class="nav-link" href="/register">register</a>
                <% } else { %>
                <a class="nav-link" href="/logout">logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>